@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Testing Microsoft Azure with CI/CD</p>
        <p>Enabled CI</p>
        <p>Enabled CD</p>
        <p>Enabled External Access to Site</p>
        <p>Deployment to Windows and Linux</p>
        <p>Success!!!</p>
        <p>More Testing!!!</p>
        <p>Testing Linux pipeline modifications!!!</p>
        <p>Testing Second Linux VM Deployment</p>
        <p>Testing Full Pipeline Deployment</p>
        <p>Disabled Windows Continuous Deployment</p>
    </div>
